.interCityButton{
    display: inline!important;
    width: 25%!important;

}
.interCityInput{
    display: inline!important;
    width: 75%!important;
}
.addButton {
    width: 50%;
    margin: 20px auto 0px auto;
}